
.idea/workspace.xml
__pycache__/app.cpython-310.pyc
*.iml
.idea/CS50x-final-project.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/CS50x-final-project.iml
.idea/inspectionProfiles/Project_Default.xml
*.xml
*.iml
.idea/CS50x-final-project.iml
.idea/CS50x-final-project.iml
flask_session/2029240f6d1128be89ddc32729463129
flask_session/e8d8e4cca12e75e0af12aea09e5ffe77
